@font-face {
    font-family: 'Helveticas1';
    src: url(/public/assets/Helvetica3.ttf);
  }
  
@font-face {
    font-family: 'Helveticas2';
    src: url(/public/assets/Helvetica4.ttf);
}  

.contact-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    transform: translateY(-150px);
    font-family: Helveticas1;
}

.portrait2 {
    height: 360px;
    padding-bottom: 30px;
    padding-top: 200px;
}



.p1 {
    font-weight: 100;
    font-size: 13px;
    text-transform: initial;
    margin: 0;
}

.p2 {
    font-weight: 100;
    font-size: 13px;
    text-transform: initial;
    margin:0; 
}

.p3 {
    font-weight: 100;
    font-size: 13px;
    text-transform: initial;
    margin: 0;
}

.p4 {
    font-weight: 100;
    font-size: 13px;
    text-transform: initial;
    margin: 0;
}

.p5 {
    font-weight: 100;
    font-size: 13px;
    text-transform: initial;
}


.p6 {
    font-weight: 100;
    font-size: 13px;
    text-transform: initial;
}

.p7 {
    font-family: Helveticas2;
    font-weight: 100;
    font-size: 15px;
    text-transform: initial; 
}

