@font-face {
  font-family: 'Helveticas';
  src: url(/public/assets/Helvetica3.ttf);
}

.logo {
    padding: 15px 15px;
    height: 19px;
  }

.searchicon {
  height: 19px;
}  

.search {
  padding-top: 30px;
  padding-left: 1225px;
}

.icons {
  display: flex;
  flex: 1;
  flex-direction: row;
}
 
.navitem {
    margin: 2px 20px;
    font-size: 12px;
}

.navlinks {
  padding: 30px 0px;
  text-decoration: none;
  font-family: Helveticas;
}

.nav-section{
  text-decoration: none;
  color: black
};

