@font-face {
  font-family: 'Helveticas';
  src: url(/public/assets/Helvetica3.ttf);
}

.logo {
    padding: 30px 30px;
    height: 19px;
  }
 
  /*.logo {
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(104%) contrast(102%);
  }*/

.searchicon {
  height: 21px;
}  

.likeicon {
  /*filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(104%) contrast(102%);*/
  height: 20px;
}

/*.searchicon{
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(104%) contrast(102%);
}*/

.search {
  padding-top: 30px;
  
  margin: 0px 30px;
}

.like {
  padding-top: 30px;
  padding-left: 1180px;
}

.icons {
  display: flex;
  flex: 1;
  flex-direction: row;
}
 
.navitem {
    margin: 2px 20px;
    font-size: 12px;
}

.navlinks {
  text-decoration: none;
  font-family: Helveticas;
  z-index: 999;
}

.nav-section{
  text-decoration: none;
  color: black;
  font-weight: 400;
  z-index: 999;
};

.changeColor {
  color: #fff;
}

.changeColor .logo {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(104%) contrast(102%);
}

nav {
  
  transition: 200ms ease-in-out;
}