@font-face {
  font-family: 'Helveticas';
  src: url(/public/assets/Helvetica3.ttf);
}

.logo {
    padding: 30px 30px;
    height: 19px;
  }
 
  /*.logo {
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(104%) contrast(102%);
  }*/

.searchicon {
  height: 19px;
}  

/*}.searchicon{
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(104%) contrast(102%);
}*/ 

.search {
  padding-top: 30px;
  padding-left: 1225px;
}

.icons {
  display: flex;
  flex: 1;
  flex-direction: row;
}
 
.navitem {
    margin: 2px 20px;
    font-size: 12px;
}

.navlinks {
  text-decoration: none;
  font-family: Helveticas;
}

.nav-section{
  text-decoration: none;
  color: black;
};