

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
};


.empty {
  margin: 500px;
  color: white;
}

.footer-link {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 40px 20px !important;
    
}

a {
    text-decoration: none;
    font-weight:400;
    font-size: 10px;
    margin: 0px 10px;
    color: black;
};

.whole-footer { 
 }

